body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3e1171;
  overflow-y: scroll; /* Нужна для корректной прокрутки */
}

/* Специфичный слой фона */
.bg-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('fon5.gif');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: -1; /* Расположен за основным контентом */
}

/* Общий контейнер для элементов */
.center-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Горизонтальное центрирование */
  justify-content: center; /* Вертикальное центрирование */
  height: 100vh; /* Контейнер занимает всю высоту окна браузера */
}


#random-image-section {
  position: relative;
  text-align: center; /* Центральное выравнивание текста и кнопок */
}

#random-image-btn {
  padding: 50px 70px;
  font-size: 36px;
  color: rgb(26, 3, 47);
  background-color: #c9abde;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  justify-content: center;      /* Центрируем по горизонтали */
  margin-top: 50px; /* Верхний отступ от края страницы */
  border-radius: 5px; /* Закруглённые углы */
   box-shadow: 0 0 10px rgba(203, 80, 255, 0.7),
              0 0 20px rgba(188, 80, 255, 0.5);
  animation: glow-pulse 2s infinite ease-in-out;
  transition: transform 0.2s ease;
}

#random-image-btn:hover {
  background-color: #e5dcf8;
  justify-content: center;      /* Центрируем  по горизонтали */
  transform: scale(1.05);
}
/* Ключевые кадры свечения */
@keyframes glow-pulse {
  0% {
    box-shadow: 0 0 10px rgba(202, 124, 247, 0.7),
                0 0 20px rgba(208, 80, 255, 0.5),
                0 0 30px rgba(182, 80, 255, 0.3);
  }
  50% {
    box-shadow: 0 0 20px rgb(214, 100, 255),
                0 0 40px rgba(182, 80, 255, 0.8),
                0 0 60px rgba(176, 80, 255, 0.6);
  }
  100% {
    box-shadow: 0 0 10px rgba(179, 80, 255, 0.7),
                0 0 20px rgba(179, 80, 255, 0.5),
                0 0 30px rgba(150, 80, 255, 0.3);
  }
}

#random-image {
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  justify-content: center;      /* Центрируем картинки по горизонтали */
}


.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  color: rgb(217, 187, 244);
  background-color: #7637aa;
  border-radius: 5px;
  transition: background-color 0.1s ease-in-out;
  margin: 50px 10px; /* Отступ сверху и снизу = 50px, слева и справа = 10px */
 box-shadow: 0 0 10px rgba(203, 80, 255, 0.7),
              0 0 20px rgba(188, 80, 255, 0.5);
  animation: glow-pulse 2s infinite ease-in-out;
  transition: transform 0.2s ease;
}
        
.button:hover {
  background-color: #c575e8;
  transform: scale(1.05);

}

/* Кнопка 3 — как кнопка 2, но другой оттенок */
.statham-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  color: rgb(60, 22, 93);
  background-color: #f1caf9;
  border-radius: 5px;
  transition: background-color 0.1s ease-in-out;
  border: none;      /* убираем стандартную рамку */
  outline: none;     /* убираем рамку при фокусе */
  margin: 50px 10px; /* Отступ сверху и снизу = 50px, слева и справа = 10px */
 box-shadow: 0 0 10px rgba(203, 80, 255, 0.7),
              0 0 20px rgba(188, 80, 255, 0.5);
  animation: glow-pulse 2s infinite ease-in-out;
  transition: transform 0.2s ease;
   cursor: pointer; /* Курсор "рука" при наведении */
}

.statham-button:hover {
  background-color: #c575e8; /* слегка меняется при наведении */
  transform: scale(1.05);
}


.image-mosaic {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Гибкость колонок */
  grid-auto-rows: minmax(min-content, max-content); /* Нет ограничений по высоте */
  gap: 10px; /* Интервал между изображениями */
  padding: 20px; /* Отступы вокруг */
}

.image-mosaic img {
  width: 100%; /* Полная ширина клетки */
  height: auto; /* Автовыбор высоты */
  border-radius: 5px; /* Закруглённые углы */
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.7), 0 0px 30px rgba(0, 0, 0, 1.0); /* Эффект тени */
  transition: transform 0.1s ease-in-out; /* Анимация при наведении */
}

/* Наводим мышью — увеличим чуть-чуть */
.image-mosaic img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* Адаптивность */
@media only screen and (max-width: 768px) {
  .image-mosaic {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Уменьшаем размер на мобильных */
  }
}

@media only screen and (max-width: 380px) {
  .image-mosaic {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Mini-версия */
  }
}